.Principal{
    margin-left: 30px;
    width: 280px;
    padding: 3px;
    display: flex;
    border-top: 1px solid darkgrey;
 }

 .cont{
    justify-content: center;
 }

 .numerador{
     font-family: Helvetica;
     margin-top: 45px;
     color: darkgray;
 }

 .texto{
     font-family: Helvetica;
     margin-left: 30px;
     color: #cc0000;
 }


